.banner {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .postal-code-container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 50px;
    background: $white-color;
    transform: translate(-50%, -50%);
    width: 56%;
  }
  .border-1{
    border: 1px solid #000000;
  }
  .dropdown-postal{
    height: 50px;
    width: auto;
    margin-left: 25px;
    margin-right: 30px;
  }
  .postal-main-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    color: $secondary-color;
    text-align: left;
    margin-bottom: 0px;
  }
  .postal-sub-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    color: $grey-color;
    text-align: left;
    margin-bottom: 0px;
  }
  .divider{
    border: 2px solid #B0B0B0;
    transform: rotate(-90deg);
    float: left;
    width: 50px;
    height: 4px;
    margin-top: 22px;
  }
  .search-button{
  background: #9043C3;
  border: 0;
  border-radius: 100%;
  padding: 20px;
  float: right;
  }