.footer{
    padding: 30px;
    background: #9043C3;
}
.footer-logo-title{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.0018em;
    color: #FFFFFF;
    margin-top: 25px;
    width: 430px;
}
.footer-title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 28px;
}
.ul-footer{
    list-style: none;
    float: left;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
}
.li-footer{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}
.all-right{
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
