@import "./variable.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/services.scss";
@import "./components/whyChooseUs.scss";
@import "./components/faq.scss";
@import "./components/footer.scss";
@import "./components/login.scss";
@import "./containers/category-section.scss";
@import "./containers/layout.scss";